@import "../../styles/_settings";
@import "../../styles/_colours";


.button {
	background: $white linear-gradient(to top right, $white, $white);
	text-decoration : none;
	border-radius   : 0.35em;
	border          : 0.2em solid $midnight;
	padding         : 1em 1.5em;
	display         : flex;
	margin          : 0 1em 1em 0;
	width           : auto;
	align-items     : center;
	justify-content : flex-start;
	color           : $midnight;
	overflow        : hidden;
	position        : relative;
	transition: background-image 200ms ease-out;

	&:hover {
		background: $yellow linear-gradient(to top right, $red, $yellow);
		background: #46A2ED linear-gradient(144deg, #55F9DE, #46A2ED, #005FC0);
	}
}

.button__image {
	margin: 0 1em 0 0;
}
