@import "../../styles/_settings";
@import "../../styles/_colours";
@import "../../styles/_grid";


@font-face {
    font-family: 'rubikmedium';
    font-display: swap;
    src: url('../../fonts/rubik-medium.woff2') format('woff2'),
     	 url('../../fonts/rubik-medium.woff') format('woff');
}

.grid {
	@include grid();
}

$midnight: #141E30;

body {
	background: $lightergrey;
}

.hdr {
	grid-column: one / four;

	@media screen and (min-width: (600em / 16)) {
		grid-column: one / three;
	}

	@media screen and (min-width: (800em / 16)) {
		grid-column: one / two;
	}
}

.wrapper {
	grid-column: one / five;

	@media screen and (min-width: (700em / 16)) {
		grid-column: two / three;
	}

	p {
		font-size: (20em / 16);
		line-height: 1.55;
		color: $midnight;
	}
}

.intro {
	color: $midnight;
	font: normal 3em / #{1} $heading;
	margin: 0;
	padding: 1em 0 0.5em 0;
	text-transform: lowercase;

	@media screen and (min-width: (700em / 16)) {
		font-size: 5.7vw;
	}

	@media screen and (min-width: (970em / 16)) {
		font-size: 5.7vw;
	}

	@media screen and (min-width: (1440em / 16)) {
		font-size: 3.8em;
	}

	img {
		display: inline-block;
		border-radius: 0.03em;
		background: $green;
		height: 0.74em;
		margin: 0 0.2em 0 0;
		width : ((0.74em / 2) * 3);
		position: relative;
	}
}



.ftr {
	grid-column: one / six;
	display: flex;
	padding: 2em 0;
	flex-wrap: wrap;
	@media screen and (min-width: (700em / 16)) {
		grid-column: two / six;
	}
}

@import "../../styles/_power-classes";
