.button {
	background: $white linear-gradient(to top right, $white, $white);
	text-decoration : none;
	border-radius   : 0.35em;
	border          : 0.2em solid $midnight;
	padding         : 1em 1.5em;
	display         : flex;
	margin          : 0 1em 1em 0;
	width           : auto;
	align-items     : center;
	justify-content : flex-start;
	color           : $midnight;
	overflow        : hidden;
	position        : relative;
	transition: background-image 200ms ease-out;

	&:hover {
	    background: #46a2ed linear-gradient(144deg, rgba(85, 249, 222, 0.7), rgba(70, 162, 237, 0.7), rgba(0, 95, 192, 0.1));
            border-width: 0;
	    color: #000000;
            padding: 1.2em 1.7em;
	}
}

.button__image {
	margin: 0 1em 0 0;
}