// -----------------------------------------------------------------------------
// Pure grays
// -----------------------------------------------------------------------------
$white: 		rgba(255, 255, 255, 1); // #ffffff
$lightergrey: 	rgba(240, 240, 240, 1); // #f0f0f0
$lightgrey: 	rgba(153, 153, 153, 1); // #999999
$grey: 			rgba(85, 85, 85, 1); 	// #555555
$darkgrey: 		rgba(51, 51, 51, 1); 	// #333333
$darkergrey: 	rgba(41, 41, 41, 1); 	// #292929
$black: 		rgba(0, 0, 0, 1); 		// #000000


// -----------------------------------------------------------------------------
// Colours of the rainbow
// -----------------------------------------------------------------------------
$red:			rgba(239,  72,  54, 1);
$orange:		rgba(211,  84,   0, 1);
$yellow: 		rgba(249, 191,  59, 1);
$green: 		rgba(113, 148,  90, 1) ; // rgba(39, 174, 96, 1);
$blue: 			darken(steelblue, 10%);
$blue : 		#2980b9;
$indigo:		indigo;
$violet:		violet;
$midnight : rgba(44,  62,  80, 1);

// -----------------------------------------------------------------------------
// Other organisation's brand colours
// -----------------------------------------------------------------------------
$dropbox-colour:		#3d9ae8;
$evernote-colour:		#5ba525;
$facebook-colour:		#3b5998;
$flickr-colour:			#ff0084;
$github-colour:			#171515;
$googleplus-colour:		#db4a39;
$html5-colour:			#ec6231;
$instagram-colour:		#634d40;
$lastfm-colour:			#c3000d;
$linkedin-colour:		#0e76a8;
$paypal-dark-colour:	#1e477a;
$paypal-light-colour:	#009cde; // #3b7bbf;
$pinterest-colour:		#cc2127;
$rdio-colour:			#008fd5;
$rss-colour:			#ee802f;
$skype-colour:			#00aff0;
$spotify-colour:		#81b71a;
$twitter-colour:		#00a0d1;
$vimeo-colour:			#86c9ef;
$xbox-colour:			#9bc848;
$youtube-colour:		#c4302b;


// -----------------------------------------------------------------------------
// Site specific
// -----------------------------------------------------------------------------
$blog-gradient-one: #05EAFA;
$blog-gradient-two: #FA056F;
