/* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */

.vh { 
	clip     : rect(1px, 1px, 1px, 1px);
	height   : 1px; width: 1px; 
	overflow : hidden;
	position : absolute !important;

	a:focus,
	input:focus,
	button:focus { 
		height   :auto;  
		position :static; 
		width    :auto; 
	}
}