@font-face {
  font-family: 'rubikmedium';
  font-weight: bold;
  font-display: swap;
  src: url('/assets/fonts/rubik-medium.woff2') format('woff2'), url('/assets/fonts/rubik-medium.woff') format('woff');
}

.grid {
  display: grid;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  grid-template-areas: 'm1 one m2 two m3 three m4 four m5 five m6';
  grid-template-columns: 4% 12% 4% 12% 4% 28% 4% 12% 4% 12% 4%;
  grid-template-rows: auto;
  justify-content: space-evenly;
  margin: auto;
  max-width: 90em;
}

@media screen and (min-width: 37.5em) {
  .grid {
    font-size: 1.125em;
    max-width: 80em;
  }
}

@media screen and (min-width: 50em) {
  .grid {
    font-size: 1.25em;
    max-width: 72em;
  }
}

body {
  background: #f0f0f0;
}

.hdr {
  grid-column: one / four;
}
@media screen and (min-width: 37.5em) {
  .hdr {
    grid-column: one / three;
  }
}
@media screen and (min-width: 50em) {
  .hdr {
    grid-column: one / two;
  }
}

.wrapper {
  grid-column: one / five;
}
@media screen and (min-width: 43.75em) {
  .wrapper {
    grid-column: two / three;
  }
}
.wrapper p {
  font-size: 1.25em;
  line-height: 1.55;
  color: #141e30;
}

.intro {
  color: #141e30;
  font: bold 3em / 1 'rubikmedium', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  margin: 0;
  padding: 1em 0 0.5em 0;
  text-transform: lowercase;
}
@media screen and (min-width: 43.75em) {
  .index .intro {
    font-size: 5.7vw;
  }
}
@media screen and (min-width: 60.625em) {
  .index .intro {
    font-size: 5.7vw;
  }
}
@media screen and (min-width: 90em) {
  .index .intro {
    font-size: 3.8em;
  }
}
.intro img {
  display: inline-block;
  border-radius: 0.03em;
  background: #71945a;
  height: 0.74em;
  margin: 0 0.2em 0 0;
  width: 1.11em;
  position: relative;
}

.ftr {
  grid-column: one / six;
  display: flex;
  padding: 2em 0;
  flex-wrap: wrap;
}
@media screen and (min-width: 43.75em) {
  .ftr {
    grid-column: two / six;
  }
}

.button {
  background: #ffffff;
  text-decoration: none;
  border-radius: 0.35em;
  border: 0.2em solid #141e30;
  padding: 1em 1.5em;
  display: flex;
  margin: 0 1em 1em 0;
  width: auto;
  align-items: center;
  justify-content: flex-start;
  color: #141e30;
  overflow: hidden;
  position: relative;
  transition: background-color 200ms ease-out, box-shadow 100ms ease-out;
}

.button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.35em #fa056f;
}

.button:hover {
  background: #05eafa;
}

.button__image {
  margin: 0 1em 0 0;
}
